body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-inverse {
    background-color: #a6122b;
    background-image: none;
}

.navbar-inverse .nav > li > a {
    color: white;
    text-shadow: none;
}

.navbar-inverse .navbar-brand {
    color: white;
    font-weight: bold;
    text-shadow: none;
}

h1, h2, h3, h4, h5, h6, .jumbotron h1, .jumbotron .h1 {
    color: #a6122b;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active {
    background-color: #a6122b;
}