@{
  ViewBag.Title = "Administration";
}

<h2>Administration</h2>

<ul>
    <li>@Html.ActionLink("Réceptions", "Receptions", "Admin")</li>
    <li>@Html.ActionLink("Clients", "Clients", "Admin")</li>
    <li>@Html.ActionLink("Pltas", "Dishes", "Admin")</li>
</ul>