@{
  ViewBag.Title = "Administration";
}

<h2>Administration</h2>

<ul>
    <li>@Html.ActionLink("Réceptions", "Index", "Reception")</li>
    <li>@Html.ActionLink("Clients", "Index", "Client")</li>
    <li>@Html.ActionLink("Plats", "Index", "Dish")</li>
</ul>