
@{
    ViewBag.Title = "Erreur indéterminée";
}

<h2>Erreur indéterminée</h2>

Une erreur indéterminée s'est produite lors de votre demande, veuillez nous en excuser. Nous mettons tout en oeuvre pour y remédier.