
@{
  ViewBag.Title = "Client";
}

<h2>@ViewBag.Title</h2>

<div class="alert alert-danger" role="alert">
    <p><span class="glyphicon glyphicon-alert" aria-hidden="true"></span> En construction</p>
</div>
